<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ratio Master</title>
        <meta name="viewport" content="width=465; user-scalable=no">
        <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" media="screen">
        <link type="text/css" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/values.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    </head>
    <body>
        <div id="loading-overlay"><div class="spinner"></div><span data-translate="loading">Loading, please wait, it may take few minutes...</span></div>
        <div id="results-overlay" title="Analysis Results">
            <div class="results-content">
                <p class="results-message">Data is loaded and analyzed!</p>
                <p class="results-message">Recommended gear ratio is: <span id="recommended-gear-ratio" class="highlighted-text"></span></p>
                <p class="results-message success-message">Gear ratio is set to recommended!</p>
                <canvas id="resultsChart"></canvas>
            </div>
        </div>
        <header>
            <span>
                <a href="/" title="Ratio Master"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="RATIO MASTER"></a>
            </span>
            <span id="settings">
                <label for="language-selector">
                    <select id="language-selector" name="lang">
                        <option value="en" selected="selected">🇬🇧 English</option>
                        <option value="ua">🇺🇦 Ukrainian</option>
                    </select>
                </label>            
                <span class="separator"></span>
                <span class="clickable">About</span>
            </span>
        </header>
        <main>
            <div id="calc" class="center-column">
                <div id="form">
                    <div class="center-column">
                        <h3 style="margin-bottom: 0px;" data-translate="measurement-system">Measurement system</h6>
                        <div style="padding: 0.66rem">
                            <label for="u2"><span class="multi" data-translate="metric">metric</span><input id="u2" type="radio" name="unit" value="m" checked="checked"></label>
                            <label for="u1"><span class="multi" data-translate="imperial">imperial</span><input id="u1" type="radio" name="unit" value="i"></label>
                        </div>
                    </div>
                    <div class="values">
                        <label for="chainring" class="multi" data-translate="chainring">Chainring</label>
                        <select id="chainring"></select>
                        <label for="sprocket" class="multi" data-translate="sprocket">Rear sprocket</label>
                        <select id="sprocket"></select>
                        <label for="tire" class="multi" data-translate="tire">Tire</label>
                        <select id="tire"></select>
                        <!-- <label for="ambidextrous" class="multi" id="s80">Ambidextrous skid</label>
                        <input type="checkbox" name="ambidextrous" id="ambidextrous"> -->
                    </div>
                </div>
                <div id="upload-container">
                    <!-- GPX File Upload Section -->
                    <h3 style="margin-top: 6px;" data-translate="upload-gpx">Upload GPX files</h3>
                    <p data-translate="upload-gpx-desc">Upload your GPX files to find gear ratio that suits your rides!</p>
                    <span>
                        <input type="file" id="gpxFiles" multiple accept=".gpx" />
                        <label for="gpxFiles" class="upload-label" data-translate="chose-gpx">Choose GPX files</label>
                    </span>
                    <div id="fileList" class="file-list"></div>

<!--                    &lt;!&ndash; Strava Activity Links Section &ndash;&gt;-->
<!--                    <h3 style="margin-top: 20px;" data-translate="paste-strava-links">Paste Strava Activity Links</h3>-->
<!--                    <p data-translate="paste-strava-desc">Or paste your Strava activity links below:</p>-->
<!--                    <span>-->
<!--                        <textarea id="stravaLinks" placeholder="Paste Strava activity links here, one per line..." class="strava-textarea"></textarea>-->
<!--                    </span>-->

                    <!-- Submit Button -->
                    <button id="submitGpx" type="button" class="submit-button" data-translate="upload">Submit</button>
                </div>

                <!-- <canvas id="wheel" width="480" height="320"></canvas> -->

                <h3 class="multi" data-translate="analysis">Analysis</h3>
                <div>
                    <span>
                        <span data-translate="ratio">Ratio: </span><span id="ratio" style="font-weight: bold;"></span>
                    </span>
                    <span class="separator"></span>
                    <span>
                        <span data-translate="ratio">Gear inches: </span><span id="gear-inches" style="font-weight: bold;"></span>
                    </span>
                    <span class="separator"></span>
                    <span>
                        <span data-translate="d-per-pedal">Distance per pedals rotation: </span><span id="development" style="font-weight: bold;"></span>
                    </span>
                </div>
            </div>
            <div id="more">
                <table id="speeds-table">
                    <thead>
                        <tr>
                            <th data-translate="riding-situation">Riding Situation</th>
                            <th data-translate="cadence-range">Cadence Range (RPM)</th>
                            <th data-translate="average-speed">Average Speed <span id="avg-speed-unit">(km/h)</span></th>
                        </tr>
                    </thead>
                    <tbody id="speeds-table-body">
                        <!-- Rows will be populated dynamically -->
                    </tbody>
                </table>
        
                <h3 class="multi" data-translate="simmilar-gears">Simmilar gears</h3>
                <div>
                    <table id="simmilar-ratios-table">
                        <tbody>
                            <!-- Rows will be populated dynamically -->
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </body>
</html>