<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ratio Master</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="Ratio Master helps single speed/fixed gear cyclists find the optimal gear ratio by analyzing ride data from GPX/TCX files. Get the best performance for your rides!">
        <meta name="keywords" content="gear ratio calculator, cycling, gear, fixed gear, single speed, GPX analysis, cycling app, bike gear optimizer, Ratio Master">
        <meta name="robots" content="index, follow">

        <meta property="og:title" content="Ratio Master">
        <meta property="og:description" content="Upload GPX/TCX files to find the best gear ratio for your cycling routes!">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://www.ratiomaster.xyz/">
        <meta property="og:image" content="{{ url_for('static', filename='images/logo.png') }}">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Ratio Master">
        <meta name="twitter:description" content="Find the optimal gear ratio for your rides by uploading GPX/TCX files!">
        <meta name="twitter:image" content="{{ url_for('static', filename='images/logo.png') }}">

        <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" media="screen">
        <link type="text/css" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/values.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

        <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebApplication",
          "name": "Ratio Master",
          "url": "http://www.ratiomaster.xyz/",
          "description": "Ratio Master helps single speed/fixed gear cyclists calculate optimal gear ratios by analyzing their rides.",
          "applicationCategory": "SportsApplication",
          "author": {
            "@type": "Person",
            "name": "Timur Ptashchenko",
            "url": "https://github.com/TimurAztec"
          },
          "image": "https://www.ratiomaster.xyz/static/images/logo.png"
        }
        </script>
    </head>
    <body>
        <div id="loading-overlay"><div class="spinner"></div><span data-translate="loading">Loading, please wait, it may take few minutes...</span></div>
        <div id="results-overlay" title="Analysis Results">
            <div class="results-content">
                <p class="results-message" data-translate="results-data-loaded">Data is loaded and analyzed!</p>
                <p class="results-message"><span data-translate="recommended-gear-ratio">Recommended gear ratio is: </span><span id="recommended-gear-ratio" class="highlighted-text"></span></p>
                <p id="gear-ratio-explanation"></p>
                <p class="results-message success-message" data-translate="gear-ratio-set">Gear ratio is set to recommended!</p>
                <canvas id="resultsChart"></canvas>
            </div>
        </div>
        <div id="cadence-dialog" title="What is Cadence?">
            <p data-translate="cadence-info">Cadence is the number of pedal revolutions per minute (RPM). It is important for efficiency and energy conservation during cycling.</p>
        </div>
        <div id="gear-ratio-dialog" title="What is Gear Ratio?">
            <p data-translate="gear-ratio-info">Gear ratio is the ratio of the number of teeth on the chainring to the number of teeth on the rear sprocket. It determines how easy or hard it is to pedal.</p>
        </div>
        <div id="skid-patches-dialog" title="What are Skid Patches?">
            <p data-translate="skid-patches-info">Skid patches are the areas where the tire contacts the road while skidding. A higher number of skid patches results in less tire wear.</p>
        </div>
        <div id="gear-inches-dialog" title="What are Gear Inches?">
            <p data-translate="gear-inches-info">Gear inches is a measure of the mechanical advantage in cycling. It is calculated by multiplying the diameter of the drive wheel by the gear ratio.</p>
        </div>
        <div id="about-dialog" title="About Ratio Master">
            <p><strong>Ratio Master - </strong><span data-translate="app-description">is a web application that helps cyclists calculate the optimal gear ratios for their rides. By uploading GPX/TCX files, the app analyzes the route's data and suggests the best gear ratio based on your riding conditions.</span></p>
            <p><span data-translate="developed-by">Developed by </span><strong>Timur Ptashchenko</strong></p>
            <p><a class="clickable" href="https://github.com/TimurAztec">GitHub</a></p>
        </div>
        <header class="center-column">
            <span>
                <a href="/" title="Ratio Master"><img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="RATIO MASTER"></a>
            </span>
            <span id="settings">
                <label for="language-selector">
                    <select id="language-selector" name="lang">
                        <option value="en" selected="selected">🇬🇧 English</option>
                        <option value="ua">🇺🇦 Ukrainian</option>
                    </select>
                </label>            
                <span class="separator"></span>
                <span class="clickable" id="about-btn" data-translate="about">About</span>
            </span>
        </header>
        <main>
            <div id="calc" class="center-column">
                <div id="form">
                    <div class="center-column">
                        <h3 style="margin-bottom: 0px;" data-translate="measurement-system">Measurement system</h6>
                        <div style="padding: 0.66rem">
                            <label for="u2"><span class="multi" data-translate="metric">metric</span><input id="u2" type="radio" name="unit" value="m" checked="checked"></label>
                            <label for="u1"><span class="multi" data-translate="imperial">imperial</span><input id="u1" type="radio" name="unit" value="i"></label>
                        </div>
                    </div>
                    <div class="values">
                        <label for="chainring" class="multi" data-translate="chainring">Chainring</label>
                        <select id="chainring"></select>
                        <label for="sprocket" class="multi" data-translate="sprocket">Rear sprocket</label>
                        <select id="sprocket"></select>
                        <label for="tire" class="multi" data-translate="tire">Tire</label>
                        <select id="tire"></select>
                        <!-- <label for="cranks-length" class="multi" data-translate="cranks-length">Cranks length</label>
                        <select id="cranks-length"></select> -->
                        <!-- <label for="ambidextrous" class="multi" id="s80">Ambidextrous skid</label>
                        <input type="checkbox" name="ambidextrous" id="ambidextrous"> -->
                    </div>
                </div>

                <canvas id="gearCanvas" width="500" height="180"></canvas>

                <h3 class="multi" data-translate="analysis">Analysis</h3>
                <div style="max-width: 60%; width: 100%; padding: 12px 0; gap: 8px;">
                    <div class="analysis-div">
                        <span class="analysis-span">
                            <span data-translate="ratio" class="clickable" id="gear-ratio-info">Ratio: </span><span id="ratio" style="font-weight: bold;"></span>
                        </span>
                        <span class="analysis-span">
                            <span data-translate="skid-patches" class="clickable" id="skid-patches-info">Skid patches: </span><span id="skid-patches" style="font-weight: bold;"></span>
                        </span>
                        <span class="analysis-span">
                            <span data-translate="gear-inches" class="clickable" id="gear-inches-info">Gear inches: </span><span id="gear-inches" style="font-weight: bold;"></span>
                        </span>
                    </div>
                    <div class="analysis-div">
                        <span class="analysis-span">
                            <span data-translate="d-per-pedal">Distance per pedals rotation: </span><span id="development" style="font-weight: bold;"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div id="more" class="center-column">
                <table id="speeds-table">
                    <thead>
                        <tr>
                            <th><span data-translate="cadence-table" class="clickable cadence-info">Cadence (RPM)</span></th>
                            <th><span data-translate="speed-table">Speed </span><span class="speed-unit">(km/h)</span></th>
                            <th><span data-translate="cadence-table" class="clickable cadence-info">Cadence (RPM)</span></th>
                            <th><span data-translate="speed-table">Speed </span><span class="speed-unit">(km/h)</span></th>
                        </tr>
                    </thead>
                    <tbody id="speeds-table-body">
                        <!-- Rows will be populated dynamically -->
                    </tbody>
                </table>
        
                <h3 class="multi" data-translate="simmilar-gears">Simmilar gears</h3>
                <div>
                    <table id="simmilar-ratios-table">
                        <tbody>
                            <!-- Rows will be populated dynamically -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="upload-container">
                <h3 style="margin-top: 6px;" data-translate="upload-gpx">Upload GPX/TCX files</h3>
                <p data-translate="upload-gpx-desc">Upload your GPX or TCX files to find gear ratio that suits your rides!</p>
                <div id="drop-area" class="drop-area">
                    <span data-translate="drag-drop">Drag and drop files here, or</span>
                    <label for="files" class="upload-label" data-translate="choose-gpx">Choose files</label>
                    <input type="file" id="files" multiple accept=".gpx, .tcx" style="display:none;">
                </div>
                <div id="fileList" class="file-list"></div>
                <button id="submit" type="button" class="submit-button" data-translate="upload">Submit</button>
            </div>
        </main>
    </body>
</html>